.services
{
    margin-top:3%;
    display:flex;
justify-content:space-evenly;
}

.imgwrap
{
width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
}
.img
{ 
  cursor: pointer;
    padding: 15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #009688;
    animation: animate 3s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image
{
  width:40px;
  height:38px;
  position: absolute;
    top: 50%;
    left: 50%;
 transform: translate(-50%, -50%);
}
@keyframes animate
{
0% {
    box-shadow: 0 0 0 0 rgb(0 150 136 / 70%), 0 0 0 0 rgb(0 150 136 / 70%);
}
40% {
    box-shadow: 0 0 0 50px rgb(0 150 136 / 0%), 0 0 0 0 rgb(0 150 136 / 70%);
}
80% {
    box-shadow: 0 0 0 50px rgb(0 150 136 / 0%), 0 0 0 30px rgb(0 150 136 / 0%);
}

100% {
    box-shadow: 0 0 0 0 rgb(0 150 136 / 0%), 0 0 0 30px rgb(0 150 136 / 0%);
}
}