* {
    margin: 0;

    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
footer {
    background-color: black;
    height: 180px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
   
}
footer ul li a, footer ul li {
    text-decoration: none;
    color: #b8b8b8;
    font-size: 12px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
footer ul li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 5px;
    cursor: pointer;
}
footer ul li h3 {
    text-decoration: none;
    color: #dcdcdc;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}
