* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
section {
    display: block;
}
#cart h1 {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: -2px;
}
#cart {
    padding: 4% 6%;
}
.cart-container {
    display: flex;
    flex-wrap: wrap;
}
.left-side {
    width: 52%;
    margin-top: 60px;
}
.left-side p {
    color: rgb(27, 25, 25);
    letter-spacing: 1px;
    font-size: 20px;
}
.itemscard {
    display: flex;
    width: 600px;
    margin-top: 25px;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 40%);
}
.itemscard .detail {
    padding-left: 15px;

}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.itemscard .detail p {
    font-size: 16px;
    margin-top: 8px;
}
.left-side p {
    color: rgb(27, 25, 25);
    letter-spacing: 1px;
    font-size: 20px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
}
.right-side {
    width: 45%;
    margin-top: 60px;
}
.total-amount {
    width: 450px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 40%);
}
.total-amount h2 {
    letter-spacing: 2px;
    font-weight: 200;
}
.total-amount p {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 200;
}
.total-amount p span {
    font-weight: bold;
    font-size: 20px;
}
.total-amount button {
    font-size: 16px;
    margin-top: 50px;
    font-weight: 300;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}

.itemscard img {
    width: 80px;
    height: 100px;
    border-radius: 4px;
}